<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @student.firstname %>
</p>

<p>
  <strong>Secondname:</strong>
  <%= @student.secondname %>
</p>

<p>
  <strong>Reg:</strong>
  <%= @student.reg %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
